* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: sans-serif;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background: #ddd;
}

#app {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  display: grid;
  gap: 10px;
  grid-template-rows: 3em 1fr 3em 1fr 3em 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "html-head  render-head"
    "html       render"
    "css-head   error-head"
    "css        error"
    "js-head    error"
    "js         error";
}

iframe {
  background: white;
  border: none;
}

textarea {
  background: #111;
  color: #eee;
  font-family: monospace;
  padding: 1em;
  border: none;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 0.5em;
  box-shadow: 0 2px 6px -2px black;
}

.section-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  background: white;
  padding: 0 2em;
}

#html-head {
  grid-area: html-head;
}

#css-head {
  grid-area: css-head;
}

#js-head {
  grid-area: js-head;
}

#render-head {
  grid-area: render-head;
}

#error-head {
  grid-area: error-head;
}

#html {
  grid-area: html;
}

#css {
  grid-area: css;
}

#js {
  grid-area: js;
}

#render {
  grid-area: render;
  height: 100%;
  width: 100%;
}

#error {
  font-family: monospace;
  background-color:#ccf;
  color: #b00;
  grid-area: error;
  overflow-y: scroll;
  padding: 1em;
}

#github-link {
  position: fixed;
  top: 16px;
  right: 16px;
}

#github-link a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 2px;
  background: white;
  border-radius: 50%;
  border: 2px solid blue;
}

#github-link img {
  display: block;
  width: 32px;
  height: 32px;
}